<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/aterrizar_p2</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>

        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">create-drop</property>
        <property name="show_sql">true</property>

        <mapping resource="ar/edu/unq/epers/persistencia/Usuario.hbm.xml"></mapping>
        <mapping resource="ar/edu/unq/epers/persistencia/Aerolinea.hbm.xml"></mapping>         
        <mapping resource="ar/edu/unq/epers/persistencia/Vuelo.hbm.xml"></mapping>
        <mapping resource="ar/edu/unq/epers/persistencia/Tramo.hbm.xml"></mapping>
        <mapping resource="ar/edu/unq/epers/persistencia/Asiento.hbm.xml"></mapping>
        <mapping resource="ar/edu/unq/epers/persistencia/Categoria.hbm.xml"></mapping>
		<mapping resource="ar/edu/unq/epers/persistencia/Criterios.hbm.xml"></mapping>
        <mapping resource="ar/edu/unq/epers/persistencia/Orden.hbm.xml"></mapping>
        <mapping resource="ar/edu/unq/epers/persistencia/Busqueda.hbm.xml"></mapping>
		
    </session-factory>
</hibernate-configuration>